<!doctype html>
<html>
<head>
<style>
.bar {
	fill: steelblue;
}

.Rrrrr {
	font: italic 40px serif;
	fill: white;
}
</style>

<script src="https://d3js.org/d3.v4.min.js"></script>
<body style="background-color: silver; text-align: center;">

	<svg width="600" height="500">


<text x="50%" y="15%" class="Rrrrr" dominant-baseline="middle"
			text-anchor="middle">Login Trend</text>
		
</svg>
	<script>
		var svg = d3.select("svg"), margin = 200, width = svg.attr("width")
				- margin, height = svg.attr("height") - margin

		var xScale = d3.scaleBand().range([ 0, width ]).padding(0.4), 
		    yScale = d3.scaleLinear().range([ height, 0 ]);

		var g = svg.append("g").attr("transform",
				"translate(" + 100 + "," + 100 + ")");

		d3.csv("/static/js/Database.csv", function(error, data) {
			if (error) {
				throw error;
			}

			xScale.domain(data.map(function(d) {
				return d.year;
			}));
			yScale.domain([ 0, d3.max(data, function(d) {
				return d.value;
			}) ]);

			g.append("g").attr("transform", "translate(0," + height + ")")
					.call(d3.axisBottom(xScale)).append("text").attr("y",
							height - 250).attr("x", width - 100).attr(
							"text-anchor", "end").attr("stroke", "black").text(
							"Date");

			g.append("g").call(d3.axisLeft(yScale).tickFormat(function(d) {
				return "$" + d;
			}).ticks(10)).append("text").attr("transform", "rotate(-90)").attr(
					"y", 6).attr("dy", "-5.1em").attr("text-anchor", "end")
					.attr("stroke", "black").text("Daily Logins");

			g.selectAll(".bar").data(data).enter().append("rect").attr("class",
					"bar").attr("x", function(d) {
				return xScale(d.Date);
			}).attr("y", function(d) {
				return yScale(d.Daily_Logins);
			}).attr("width", xScale.bandwidth()).attr("height", function(d) {
				return height - yScale(d.value);
			});
		});
	</script>

</body>
</html>